*.rbc
capybara-*.html
.rspec
rails-app/log
rails-app/tmp
rails-app/db/*.sqlite3
rails-app/db/*.sqlite3-journal
rails-app/public/system
rails-app/coverage/
rails-app/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/secrets.yml

## Environment normalisation:
rails-app/.bundle
rails-app/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
rails-app/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Databases etc
data/*
